<div style="background-color: #f5f5dc; min-height: 100vh;"> 
    <h1>Contact Us</h1>

    <div class="container-sm">
        <form id="contactForm" onsubmit="event.preventDefault(); message();">
        <div class="form-group">
            <label for="nameInput"><b>Name:</b></label>
            <input type="text" id="nameInput" class="form-control" style="width: 50%; max-width: 300px;">
        </div>
        <div class="form-group">
            <label for="emailInput"><b>Email:</b></label>
            <input type="text" id="emailInput" class="form-control" style="width: 50%; max-width: 300px;">
        </div>
        <div class="form-group">
            <label for="messageInput"><b>Message:</b></label>
            <input type="text" id="messageInput" class="form-control" style="width: 50%; max-width: 300px;">
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Enter</button>

        </form>
        <div id="thankYouMessage"></div>


        <script>
            function message(){
                document.getElementById("thankYouMessage").textContent = "Thank you for your message. We will contact you soon.";
            }
        </script>
    </div>
</div>

